/* HERO section */
body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.hero > header {
    display: flex;
    justify-content: space-between;
}

.hero > .content {
    display: flex;
}

.hero > .content > .left-text, .hero > .content > .right-image {
    flex: 1;
}

.hero {
    background-color: #1f2937;
    color: #f9faf8;
    margin-bottom: 48px ;
}

.hero > * {
    margin: 0 226px;
    margin-bottom: 100px;
}
/* HERO section */

/* INFORMATION section */
.information {
    display: flex;
    flex-direction: column;
}

.information > * {
    margin:  0 128px;
}

.items, .information > p {
    display: flex;
    justify-content: center;
    align-items: center;
}
/* INFORMATION section */

/* QUOTE */
.quote {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 426px;
}

.quote > p {
    margin: 0;
}
/* QUOTE */