/* HERO section */
body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.hero > header {
    display: flex;
    justify-content: space-between;
}

.hero > .content {
    display: flex;
}

.hero > .content > .left-text, .hero > .content > .right-image {
    flex: 1;
}

.hero {
    background-color: #1f2937;
    color: #f9faf8;
}

.hero > * {
    margin: 0 226px;
    margin-bottom: 100px;
}
/* HERO section */